@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav_top {
    position: fixed;
    background-color: #1d3557;
    width: 100%;
    height: 5em;
    z-index: 1;
}

header {
    position: relative;
    width: 100%;
    background-image: url("../pages1/restaurant.jpg");
    height: 60em;
    background-size: cover;
    background-position: center;
}

.nav_top-list-item {
    display: inline-block;
    position: relative;
    width: 5em;
    height: 5em;
}

.nav_top-list-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav_top-list-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f3e9dc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
}

.open_time {
    position: absolute;
    bottom: 0;
    padding: 1em 2em;
    background-color: rgba(243, 233, 220, 0.6);
    border: solid 2px #5e3023;
    border-radius: 5px;
}

section {
    background-color: #db7c26;
    position: relative;
    text-align: center;
    width: 80em;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
}

section>img {
    width: 60%;
    height: 100%;
}

footer {
    background-color: #1d3557;
    color: #FFF;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

.nav_bottom-list {
    list-style-type: none;
    padding-left: 0;
}

.nav_bottom-list>li {
    margin: 5px;
}

.menu_heading_main>h1 {
    font-size: 4rem;
    color: #1d3557;
}

.menu_list {
    list-style-type: none;
}

.menu_list-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #efe9ae;
}
.menu_heading {
    font-size: 6rem;
}

.menu {
    background-color: #c08552;
}

.menu_flexbox {
    display: flex;
    justify-content: space-around;
}

.menu_flexbox-item {
    width: 400px;
    margin: 30px 50px;
}

.menu_flexbox-item-card {
    display: flex;
    justify-content: space-between;
}

.dish {
    text-align: left;
}

.dish>* {
    margin: 0;
}